<div class="container-fluid">
  <h1 class="text-center">Update Movie</h1>
  <form>
    <div class="form-group">
      <label>Movie Name</label>
      <input
        #namemovie
        type="text"
        placeholder="Enter Movie Name"
        class="form-control"
        [value]="movie.name"
      />
    </div>
    <div class="form-group">
      <label>Movie Year</label>
      <input
        #yearmovie
        type="text"
        placeholder="Enter Movie Year"
        class="form-control"
        [value]="movie.year"
      />
    </div>
    <div class="form-group">
      <label>Plot</label>
      <textarea
        #plotmovie
        class="form-control"
        height="200"
        placeholder="Enter Movie Plot"
        [value]="movie.plot"
      ></textarea>
    </div>
    <div class="form-group">
      <label>Actors</label>
      <ng-multiselect-dropdown
        ng-model="string"
        #actormovie
        [placeholder]="'Add Actors'"
        [settings]="dropdownSettings"
        [data]="dropDownList"
        [(ngModel)]="selectedItems"
        name="multiselect"
      ></ng-multiselect-dropdown>
    </div>
    <div class="form-group">
      <label>Producers</label>
      <select #producermovie class="form-control">
        <option
          *ngFor="let producer of producers"
          [id]="producer.producerid"
          [selected]="check(producer.producerid)"
        >
          {{ producer.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <img
        *ngIf="!changePoster"
        [src]="movie.poster"
        width="200"
        height="200"
      />
      <br />
      <label>Change Movie Poster</label>
      <br />
      <input
        #postermovie
        type="file"
        (change)="onFileChange($event)"
        accept="image/png, image/gif, image/jpeg"
      />
    </div>
    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-lg btn-primary"
        (click)="
          updateMovie(
            namemovie.value,
            yearmovie.value,
            plotmovie.value,
            actormovie.selectedItems,
            producermovie[producermovie.selectedIndex].id,
            postermovie.value
          )
        "
      >
        Update Movie
      </button>
    </div>
  </form>
</div>
